<div class=form>

  </ul>
  <% if current_user.id == params[:id].to_i  %>
  <h3 >Hello, <%= @user.name %>.</h3>
  Your Email: <%= @user.email %><br>
  Your Location: <%= @user.city %>, <%= @user.state %><br>
  Your Items:
  <ul>
    <li> <% @user.items.each do |i| %>
    <%= link_to i.name, user_item_path(@user, i) %>
    <% end %> </li><br>
  <%= link_to "Add item", new_user_item_path(@user) %><br>
  <%= link_to "Edit Your Profile", edit_user_path %>
  <% else %>
  <h3 >User: <%= @user.name %></h3>
  Location: <%= @user.city %>, <%= @user.state %><br>
  Items for lending:
  <ul>
    <li> <% @user.items.each do |i| %>
    Item Name:<%= i.name %><br>
    Available?<%= i.available %>
    <% end %> </li><br>

  <% end %>

</div>
