<div class=form>
  <% if current_user.id == params[:id].to_i  %>
      <p>Δ Δ Δ</p>
      <h3 >Hello, <%= @user.name %>.</h3>
      Your Email: <%= @user.email %><br>
        <% if @user.city == nil || @user.state == nil || @user.city.empty? || @user.state.empty?%>
        <%= flash[:message] = "PLEASE ADD YOUR LOCATION" %>
          *** Please add your <%= link_to "location", edit_user_path(@user) %> ***
        <% else %>
          Your Location: <%= @user.city %>, <%= @user.state %>
        <% end %>
      <br><p>∇ ∇ ∇</p>
      <p>Your Items:</p>
          <% if @user.items.empty? %>
              <%= "You have no items listed for lending." %><br>
          <% else %>
              <ul><li> <% @user.items.each do |i| %>
              ◦ <%= link_to i.name, user_item_path(@user, i) %><br>
              <% end %> </li></ul><br>
          <% end %>
      <br> <%= link_to "Add item", new_user_item_path(@user) %><br>
      <%= link_to "Edit Your Profile", edit_user_path(@user) %>
  <% else %>
    <p>Δ Δ Δ</p>
    <h3 >User: <%= @user.name %></h3>
    Location: <%= @user.city %>, <%= @user.state %><br>
    <p>∇ ∇ ∇</p>
    Items for lending:<br><br>
    <% if @user.items.empty? %>
      <%= "There are no items listed for lending." %><br>
    <% else %>
      <ul>
      <li> <% @user.items.each do |i| %>
      <h4> Item Name: <%= link_to i.name, user_item_path(@user, i) %></h4>
      <p>Item Availability: <%= i.available == true ? "   This item is AVAILABLE!" : "   UNAVAILABE. Please Check Back Later"%></p>  <br>
      <% end %> </li></ul>
    <% end %>
  <% end %>
</div>
