<%= form_tag items_path, method: :get do %>
  Search for Items by Location <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

 <% if params[:search] == nil %>
    <ul> <% @items.each do |i| %>
    <br><h3><li>∇ <%= link_to i.name, user_item_path(i.user_id, i) %> ∇</h3>
     : Located in <%= i.user.city %>, <%= i.user.state %> :
    <p> Availability: <%= i.available ? "This item is AVAILABLE!" : "UNAVAILABLE. Please Check Back Later" %></li> </p>
    <% end %></ul>
<% else %>
    <ul> <% @items.flatten.each do |i| %>
      <br><h3><li>∇ <%= link_to i.name, user_item_path(i.user_id, i) %> ∇</h3>
       : Located in <%= i.user.city %>, <%= i.user.state %> :
      <p> Availability: <%= i.available ? "This item is AVAILABLE!" : "UNAVAILABLE. Please Check Back Later" %></li> </p>
      <% end %></ul>
<%end %>
