<div class="form">
  <%= @item.name %><br>
  <p><%= @item.description %></p>
  <p><%= @item.category.name %></p>
  <% if @user.id == current_user.id %>
  <%= link_to "Edit Item", edit_user_item_path(@user, @item) %><br>
  <%= link_to "Delete Item", user_item_path(@user, @item), method: :delete %>
  <% end %>
</div>
