<div class="form">

  <% if @user.id == current_user.id %>
      <h3>Your Item:</h3><br>
    <h4>∇ <%= @item.name %> (<%= @item.category.name %>) ∇ </h4>
      <p><%= @item.description %><br></p>
      <p>Availability: <%= @item.available ? "This item is AVAILABLE" : "UNAVAILABLE. Please Check Back Later" %></p>  <br>
    <h5><%= link_to "Edit This Item", edit_user_item_path(@user, @item) %></h5>
    <h5><%= link_to "Delete This Item", user_item_path(@user, @item), method: :delete %></h5>
  <% else %>
      <h2> <%= @user.name %>'s Item</h2><br>
        <h4>∇ <%= @item.name %> (<%= @item.category.name %>) ∇ </h4>
      <p><%= @item.description %><br></p>
      <p>Availability: <%= @item.available ? "This item is AVAILABLE" : "UNAVAILABLE. Please Check Back Later" %></p>
      <br><h5><%= link_to "See ALL of #{@user.name}'s items", user_path(@user) %></h5>
      <h5><a href="mailto:<%= @item.user.email %>?subject=Message from IHT Re: <%= @item.name %> &body=Message sent from IHT (I HAVE THAT App) "> Contact <%=@item.user.name.upcase%> to borrow this item.</a></h5> 
  <% end %>
</div>
