<!DOCTYPE html>
<html>
  <head>
    <title>IHaveThatV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body class="img-responsive main-image" background = url( asset-path('nature1.jpg') )>
  <!-- <ul class="topnav">
  <li><a class="active" href="/items">Home</a></li>
  <li><a href="/user">Community</a></li>
  <li><a href="mailto:emi@test.com">Contact Us</a></li> -->
  <!-- <li class="right"><a href="/logout">Log Out</a></li> -->
<!-- </ul> -->

  <!-- <img src="images/corneal-small.png" class="img-responsive main-image"></header> -->
  <div class="wrapper">
    <div class="headerbox">
    <h1 style="text-align:center; ">Welcome to I HAVE THAT!</h1>
    <h3 style="text-align:center; ">A community lending page.</h3>
    </div>

    <%= yield %>
    <footer class="branding">
    <small>&copy; 2018 <strong>I Have That (IHC)</strong></small>
  </footer>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!--[if lt IE 7]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
  <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
  </body>
</html>
